[submodule "situational-awareness/cat"]
	path = cobaltstrike-cat-bof
	url = https://github.com/tvgdb/cobaltstrike-cat-bof.git
[submodule "situational-awareness/sa"]
	path = CS-Situational-Awareness-BOF
	url = https://github.com/trustedsec/CS-Situational-Awareness-BOF.git
[submodule "Kerbeus-BOF"]
	path = Kerbeus-BOF
	url = https://github.com/RalfHacker/Kerbeus-BOF
[submodule "OperatorsKit"]
	path = OperatorsKit
	url = https://github.com/fyxme/OperatorsKit.git
[submodule "portscanbof"]
	path = portscanbof
	url = https://github.com/fyxme/portscanbof/
[submodule "PrivKit"]
	path = PrivKit
	url = https://github.com/mertdas/PrivKit
[submodule "No-Consolation"]
	path = No-Consolation
	url = https://github.com/fortra/No-Consolation
[submodule "CS-Remote-OPs-BOF"]
	path = CS-Remote-OPs-BOF
	url = https://github.com/trustedsec/CS-Remote-OPs-BOF
