[submodule "situational-awareness/cat"]
	path = situational-awareness/cobaltstrike-cat-bof
	url = https://github.com/tvgdb/cobaltstrike-cat-bof.git
[submodule "situational-awareness/sa"]
	path = situational-awareness/CS-Situational-Awareness-BOF
	url = https://github.com/trustedsec/CS-Situational-Awareness-BOF.git
[submodule "OperatorsKit"]
	path = situational-awareness/OperatorsKit
	url = https://github.com/fyxme/OperatorsKit.git
[submodule "portscanbof"]
	path = situational-awareness/portscanbof
	url = https://github.com/fyxme/portscanbof/
[submodule "PrivKit"]
	path = privkit/PrivKit
	url = https://github.com/mertdas/PrivKit
[submodule "No-Consolation"]
	path = execution/No-Consolation
	url = https://github.com/fortra/No-Consolation
[submodule "CS-Remote-OPs-BOF"]
	path = remote-operations/CS-Remote-OPs-BOF
	url = https://github.com/trustedsec/CS-Remote-OPs-BOF
[submodule "kerbeus/Kerbeus-BOF"]
	path = kerbeus/Kerbeus-BOF
	url = https://github.com/RalfHacker/Kerbeus-BOF
[submodule "execution/BOF_RunPe"]
	path = execution/BOF_RunPe
	url = https://github.com/NtDallas/BOF_RunPe.git
